@charset "UTF-8";

/* 초기화 */
*{margin: 0; padding: 0;}
body{font-family: 'Helvetica', sans-serif;}
li{list-style: none;}
a{text-decoration: none;}

/* 헤더 메뉴*/
    /* 전체 메뉴 설정 */
#header > #main_gnb > ul{
    background-color: burlywood;
    width: 100%;
    overflow: hidden;
    position: fixed;
}
#header > #main_gnb > ul > li{
    float: left;
    padding: 10px 20px;
    line-height: 30px;
}
#header > #main_header > ul > li >a{
    display: block;
    height: 50px;
    font-size:15px; 
}
    /* 헤더 배경 */
#header > #main_header{
    margin: 0 auto;
    background-image: url('header_img2.jpg');
    background-size: 1000px;
    background-repeat: no-repeat;
    width: 1000px; height: 600px;

}
    /* 헤더 제목 */
#header >#main_header > div.main_title{
    padding: 90px;
    line-height: 25px;
    margin-bottom: 20px;
}
#header> #main_header > div.main_title > h1{
    font-size: 65px;
    margin-bottom: 40px;
}

#header > #main_header > div.main_title >input{
    font-weight: bold;
    background-color: burlywood; 
    width: 110px; height: 35px;
    margin-top:20px;
    color: black;
    opacity:0.8 ;
}

/* 콘텐츠 */
#content{
    width: 1000px;
    margin: 0 auto;
}
    /* section_1 이미지 */
#content > #main_section{
    width: 1000px;
    overflow: hidden;
}
#main_section > #main_article{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 40px;
    background-image: url('section_1.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 420px; height: 300px;
    float: left;

}
#main_section > #sub_article{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 40px;
    background-image: url('section_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 420px; height: 300px;
    float: left;
}
#content > #main_section > #main_article > div.article_text:last-of-type{
    color: grey;
}
#content > #main_section > #sub_article > div.article_text:last-of-type{
    color: grey;
}

/* section_2 설정 */
    /* 이미지 */
#content > #second_section{
    background-image: url('section_7.jpg');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 600px; width: 1000px;
    
}

    /* 텍스트 */
#content >#second_section > div.main_title{
    padding: 70px;
    margin-right:-70px;
    line-height: 25px;
    text-align: right;
    margin-bottom: 20px;
}
#content> #second_section >  div.main_title > h1{
    background: rgb(248, 237, 215, 0.7);

    height: 90px;
    font-size: 65px;
    color: black
}
#content > #second_section > div.main_title >input{
    background-color: burlywood; 
    width: 110px; height: 35px;
    font-weight: bold;
    
    color: black;
    opacity:0.8 ;
}

/* section_3 설정 */
    /* 이미지 */
#third_section{
    overflow: hidden;
}
#third_section > #main_article{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    background-image: url('sound_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 440px; height: 300px;
    float: left;

}
#third_section > #sub_article{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    background-image: url('lamo_img2.jpg');
    background-size: cover;

    background-repeat: no-repeat;
    width: 440px; height: 300px;
    float: left;
} 
    /* 텍스트 */
#third_section > #main_article > div.article_text{
    text-align: left;
    background-color: rgb(248, 237, 215, 0.7);
    width: 250px;
}
#third_section > #sub_article > div.article_text{
    text-align: left;
    background-color:rgb(248, 237, 215, 0.7);
    width: 250px;
}
#third_section > #main_article > div.article_text > h3,h6{
    padding:  2px;
}
#third_section > #sub_article > div.article_text > h3,h6{
    padding: 2px;
}

/* section_4 설정 */
    /* 이미지 */
#content > #fourth_section{
    background-image: url('section_8.jpg');
    background-size: 1000px;
    background-position: left;
    background-repeat: no-repeat;
    height: 400px;  width: 1000px;
    text-align: right;
    overflow: hidden; 
    /* 이미지가 숨지 않고 나온다 */
}
    /* 텍스트 */
#content >#fourth_section > div.main_title{
    padding: 60px;
    line-height: 25px;
    margin-bottom: 20px;
}
#content> #fourth_section >  div.main_title > h1{
    font-size: 65px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
}
#content > #fourth_section > div.main_title >input{
    background-color: burlywood; 
    width: 110px; height: 35px;
    font-weight: bold;
    
    color: black;
    opacity:0.8 ;
}

/* section_5설정 */
    /* 이미지 */
#fifth_section{
    overflow: hidden;
}
#fifth_section > #main_article{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    background-image: url('section_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 440px; height: 300px;
    float: left;
    
}
#fifth_section > #sub_article{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    background-image: url('section_5.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 440px; height: 300px;
    float: left;
} 
    /* 텍스트 */
#fifth_section > #main_article > div.article_text{
    text-align: left;
    width: 250px;
}
#fifth_section > #sub_article > div.article_text{
    text-align: left;
    width: 250px;
}
#fifth_section > #main_article > div.article_text > h6{
    color: grey;
}
#fifth_section > #sub_article > div.article_text > h6{
    color: grey;
}

/* 푸터 */
#footer{
    background-color: rgb(30, 30, 30);
    width: 1000px; 
    margin: 0 auto;
    overflow: hidden;
}
#footer > #main_footer > div.footer_title{
    text-align: left;
    color: white;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;

}
#footer > #main_footer > div.footer_text{
    color: rgb(182, 181, 181);
    float: left;
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 20px;
}
#footer > #main_footer > div.footer_text > p >a{
    display: block;
    float: left;
    text-align: left;
    padding: 2px;
}
#footer > #main_footer > #last_text{
    display: block;
    text-align: right;
    padding: 3px;
    margin-right: 30px;
    color: white;
    font-size: small;
    /* 우측 하단으로 내리고 싶은데 방법을 모르겠어요... */
}


/* 참고사이트: https://arredo.qodeinteractive.com/products-studio/ */
